<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!-- Header -->
        <header>
            <nav>
                <h1>
                    <a href="/" class="logo">{{ site.title }}</a>
                    <span>{{ site.tagline }}</span>
                </h1>
                <ul>
                    <li><a href="/about">درباره</a></li>
                    <li><a href="/writer">نویسندگی</a></li>
                </ul>
            </nav>
        </header>
        <!-- /Header -->

        <!-- Content -->
        {{ content }}
        <!-- /Content -->

        {% include footer.html %}
    </body>
</html>
