<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!-- Header -->
        <header>
            <section class="container">
                <nav>
                    <h1>
                        <a href="/" class="logo">{{ site.title }}</a>
                    </h1>
                    <ul>
                        <li><a href="/about">درباره</a></li>
                        <li><a href="/writer">نویسندگی</a></li>
                    </ul>
                </nav>
            </section>
        </header>
        <!-- /Header -->

        <!-- Content -->
        <section class="container article-list">
        {{ content }}
        </section>
        <!-- /Content -->

        {% include footer.html %}
    </body>
</html>
